@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import "tailwindcss";


:root {
	--background: #ffffff;
	--foreground: #000000;
	--foreground-lower: theme(--color-gray-500);
	--inputbg: #ffffff;
}



.dark {
	--background: #161616;
	--foreground: #ffffff;
	--foreground-lower: theme(--color-gray-500);
	--inputbg: #333333;
}


@theme inline {
	--color-primary: #4c4452;
	--color-hoverprimary: #46256A;

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-foreground-lower: var(--foreground-lower);

	--color-inputbg: var(--inputbg);
	
	/* fonts  */
	--font-lilita: "Lilita One", sans-serif;
	--font-cherryBombOne:  "Cherry Bomb One", system-ui;

}

html, body {
  height: 100%;
  overflow: hidden;
}




body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	/* transition: background 0.3s ease, color 0.3s ease; */
}



/* Custom Scrollbar Styles */
.custom-scrollbar {
  overflow: auto;
  scrollbar-width: none;
}

/* Hide scrollbar in WebKit (Chrome, Safari) by default */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* Show scrollbar on hover */
.custom-scrollbar:hover {
  scrollbar-width: thin;
}

/* Webkit scrollbar on hover */
.custom-scrollbar:hover::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 4px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #718096;
}