@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import "tailwindcss";


:root {
	--background: theme(--color-neutral-100);
	--foreground: theme(--color-neutral-900);
	--foreground-lower: theme(--color-neutral-600);
	--gray-bg: theme(--color-neutral-400);
	--gray-hover:  theme(--color-neutral-400);
	--active-card:  theme(--color-primary-900);
	--inactive-card:  theme(--color-neutral-100);
	--message-card:  theme(--color-neutral-100);
	--border-lower: theme(--color-neutral-400);
}

.dark {
	--background: theme(--color-neutral-900);
	--foreground: theme(--color-neutral-100);
	--foreground-lower: theme(--color-gray-500);
	--gray-bg:  theme(--color-neutral-800);
	--gray-hover: theme(--color-neutral-200);
	--active-card:  theme(--color-primary-100);
	--inactive-card:  theme(--color-neutral-900);
	--message-card:  theme(--color-neutral-700);
	--border-lower: theme(--color-neutral-700);
}

@theme inline {
	--color-primary: #3E166E;
	--color-primary-100: #E5DDEF;
	--color-primary-200: #D4C7E4;
	--color-primary-300: #A98EC9;
	--color-primary-400: #7E56AE;
	--color-primary-600: #290E4A;
	--color-primary-700: #150725;
	--color-primary-800: #0C0416;
	--color-primary-900: #06020B;

	--color-neutral-100: #FFFFFF;
	--color-neutral-200: #F2F2F2;
	--color-neutral-300: #F5F5F5;
	--color-neutral-400: #E6E6E6;
	--color-neutral-500: #B5B5B5;
	--color-neutral-600: #797979;
	--color-neutral-700: #3C3C3C;
	--color-neutral-800: #181818;
	--color-neutral-900: #000000;

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-gray-bg: var(--gray-bg);
	--color-gray-hover: var(--gray-hover);

	--color-active-card: var(--active-card);
	--color-inactive-card: var(--inactive-card);
	--color-message-card: var(--message-card);

	--color-border: var(--border-lower);
	--color-foreground-lower: var(--foreground-lower);

	--breakpoint-3xl: 104rem;
	--breakpoint-4xl: 112rem;
	--breakpoint-5xl: 116rem;

	/* fonts  */
	--font-cherryBombOne:  "Cherry Bomb One", system-ui;

}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Inter", sans-serif;
	/* font-family: "Oxygen", sans-serif; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--gray-bg) inset !important;
  -webkit-text-fill-color: var(--foreground) !important;
  background-color:  var(--gray-bg) !important;
}

/* ==== Custom Scrollbar Styles ==== */
.custom-scrollbar {
	overflow: auto;
	scrollbar-width: none;
}

/* Hide scrollbar in WebKit (Chrome, Safari) by default */
.custom-scrollbar::-webkit-scrollbar {
  	width: 0px;
	height: 0px;
	background: transparent;
}

/* Show scrollbar on hover */
.custom-scrollbar:hover {
	overflow: auto;
  	scrollbar-width: thin;
	scrollbar-color: var(--foreground-lower) var(--gray-bg);
}

/* Webkit scrollbar on hover */
.custom-scrollbar:hover::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  	background: transparent;
}

.custom-scrollbar:hover::-webkit-scrollbar-track {
    background-color: var(--gray-bg);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  	opacity: 1;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
	background-color: var(--foreground-lower);
	border-radius: 6px;
	opacity: 0;
	transition: opacity 0.2s ease;
}





/* ==== Hide Scrollbar Styles ====*/
.hide-scrollbar {
	scrollbar-width: none;
}

/* Hide scrollbar in WebKit (Chrome, Safari) by default */
.hide-scrollbar::-webkit-scrollbar {
  	width: 0px;
	height: 0px;
	background: transparent;
}

/* Show scrollbar on hover */
.hide-scrollbar:hover {
	overflow: auto;
  	scrollbar-width: none;
}

/* Webkit scrollbar on hover */
.hide-scrollbar:hover::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.hide-scrollbar::-webkit-scrollbar-track {
  	background: transparent;
}

.hide-scrollbar:hover::-webkit-scrollbar-track {
    background-color: var(--gray-bg);
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  	opacity: 0;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
	background-color: var(--foreground-lower);
	border-radius: 0px;
	opacity: 0;
	transition: opacity 0.2s ease;
}
