@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import "tailwindcss";


:root {
	--background: #ffffff;
	--foreground: #000000;
	--foreground-lower: theme(--color-gray-500);
	--navbar-background: #f2f2f2;
	--navbarshadow: theme(--shadow-lg);
	--inputbg: #ffffff;
}



.dark {
	--background: #161616;
	--foreground: #ffffff;
	--foreground-lower: theme(--color-gray-500);
	--navbar-background: #000000;
	--navbarshadow: 0 4px 10px rgba(255, 255, 255, 0.1);
	--inputbg: #333333;
}


@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-foreground-lower: var(--foreground-lower);
	--color-primary: #884BCA;
	--color-navbar-background: var(--navbar-background);
	--color-hoverprimary: #46256A;
	--color-inputbg: var(--inputbg);

	--shadow-navbar: var(--navbarshadow);
	
	/* fonts  */
	--font-lilita: "Lilita One", sans-serif;
	--font-cherryBombOne:  "Cherry Bomb One", system-ui;

}



body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	/* transition: background 0.3s ease, color 0.3s ease; */
}
